body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-main {
  width: 90%;
  height: 8%;
  margin: 1% 5% 1% 5%;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.app-logo {
  width: auto;
  height: 80%;
  margin-left: 10px;
  padding-top: 1.6%;
}

.header-left {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: left;
}

.header-right {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: right;
}

.header-middle {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header-menu-item {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
}

.header-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-right: 2%;
}

.header-icons {
  margin-right: 5%;
}
